/*
    IMPORTING FONTS FROM RELATIVE PATH (LOCAL SOURCE)
*/
@font-face {
    font-family: "Fraunces";
    src: url("../fonts/fraunces.ttf") format("truetype-variations");
    font-weight: 1 999;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat.ttf") format("truetype-variations");
    font-weight: 1 999;
}

/*
    CREATING VARIABLES FOR COLORS IN GLOBAL SCOPE
*/
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --lighten-dark-blue: hsla(212, 21%, 14%, 0.5);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}


/*
    GENERALIZING COMMON REQUIRED STYLES & SHORT CSS RESET
*/
* {
    border: 0px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
*::selection {    /* Disables text highlighting */
    color: none;
    background: none;
}
*::-moz-selection {   /* For Mozilla Firefox */
    color: none;
    background: none;
}


/*
    BODY SECTION
*/
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
}


/*
    PRODUCT CARD COMPONONENT SECTION
*/
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.product-container > .product-preview {
    overflow: hidden;
}
.product-container > .product-preview > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s ease;
}
.product-container > .product-preview > picture > img:hover {
    transform: scale(1.3) translateY(30px);
    filter: brightness(1.1);
}

.product-container > .product-description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-container > .product-description > .product-catagory {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .50em;
    font-weight: 600;
}
.product-container > .product-description > .product-name {
    width: 90%;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    color: var(--very-dark-blue);
    font-weight: 700;
}
.product-container > .product-description > .product-source {
    font-size: 14px;
    margin-bottom: 10px;
}
.product-container > .product-description > .product-price {
    display: flex;
    align-items: center;
}
.product-container > .product-description > .product-price > .flat-price {
    font-size: 30px;
    margin-right: 25px;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    color: var(--dark-cyan);
    font-weight: 700;
}
.product-container > .product-description > .product-price > del > .sr-only {
    text-decoration: line-through;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.product-container > .product-description > .product-price > del {
    font-size: 13px;
}
.product-container > .product-description > .add-to-cart-btn {
    all: unset;       /* remove all button styles */
    cursor: pointer;
    height: 40px;
    border-radius: 7px;
    background-color: var(--dark-cyan);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
    gap: 15px;
    font-weight: 600;
}
.product-container > .product-description > .add-to-cart-btn:hover {
    background-color: var(--very-dark-blue);
}

/*
    AUTHOR LINK
*/
.author-link{
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.author-link > * {
    color: var(--lighten-dark-blue);
    font-weight: 500;
}
.author-link > .bar {
    margin: 0 4px 0 4px;
}
.author-link, a {
    text-decoration: none;
    transition: .3s ease-out;
}
.author-link > a:hover {
    color: var(--very-dark-blue);
    border-bottom: 2px solid var(--lighten-dark-blue) ;
    padding: 8px;
}


/*
    MEDIA QUERIES SECTION
*/
@media only screen and (max-width: 450px) {

    .product-container {
        grid-template-columns: unset;
        grid-template-rows: 250px 1fr;
        width: 90%;
        height: 620px;
        transform: scale(.9);
    }
    .product-container > .product-description {
        justify-content: space-around;
        padding: 20px;
    }
    .product-container > .product-description > .product-name {
        width: 100%;
    }
}